* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(42, 39, 46);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    display: flex;
    justify-content: center;
    height: 450px;
    border-radius: 10px;
}

button {
    background-color: rgb(219, 211, 96);
    border-radius: 10px;
    border-style: none;
    padding: 8px 20px;
}

input {
    height: 30px;
    width: 250px;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
    margin-right: 30px;
}

.search {
    margin: 30px 0;
}

.random {
    margin-top: 30px;
}