*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text{
    padding-top: 25px;
    text-shadow:0px 8px 15px rgba(0, 0, 0, 0.3);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(203, 6, 6);
    width: 800px;
    height: 650px;
    border-radius: 5%;
    color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.board{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 40px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    max-height: 100px;
    max-width: 1000px;
    aspect-ratio: 1/1;
    border-color: rgb(0, 0, 0);
    border-width: 0.5px;
    border-style: dashed;
}

.box:hover {
    background-color: aquamarine;
}

.btn-1{
    width: 80px;
    height: 40px;
    margin-right: 200px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-2{
    width: 80px;
    height: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}